@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* slider */
.slider {
  height: 100vh;
  margin-top: -50px;
  position: relative;
}
.slider .list .item {
  position: absolute;
  inset: 0 0 0 0;
  overflow: hidden;
  opacity: 0;
  transition: 0.5s;
}
.slider .list .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.slider .list .item::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  background-image: linear-gradient(to top, #000 40%, transparent);
}
.slider .list .item .content {
  position: absolute;
  left: 10%;
  top: 20%;
  width: 500px;
  max-width: 80%;
  z-index: 1;
}
.slider .list .item .content p:nth-child(1) {
  text-transform: uppercase;
  letter-spacing: 10px;
}
.slider .list .item .content h2 {
  font-size: 100px;
  margin: 0;
}
.slider .list .item.active {
  opacity: 1;
  z-index: 10;
}
@keyframes showContent {
  to {
    transform: translateY(0);
    filter: blur(0);
    opacity: 1;
  }
}
.slider .list .item.active p:nth-child(1),
.slider .list .item.active h2,
.slider .list .item.active p:nth-child(3) {
  transform: translateY(30px);
  filter: blur(20px);
  opacity: 0;
  animation: showContent 0.5s 0.7s ease-in-out 1 forwards;
}
.slider .list .item.active h2 {
  animation-delay: 1s;
}
.slider .list .item.active p:nth-child(3) {
  animation-duration: 1.3s;
}
.profile {
  position: absolute;
  top: 60px;
  right: 30px;
  z-index: 100;
}
.profile button {
  background-color: #eee5;
  border: none;
  font-family: monospace;
  width: 50px;
  height: 50px;
  border-radius: 5px;
  font-size: x-large;
  color: #eee;
  transition: 0.5s;
}
.profile button:hover {
  background-color: #eee;
  color: black;
}
.arrows {
  position: absolute;
  top: 30%;
  right: 50px;
  z-index: 100;
}
.arrows button {
  background-color: #eee5;
  border: none;
  font-family: monospace;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  font-size: x-large;
  color: #eee;
  transition: 0.5s;
}
.arrows button:hover {
  background-color: #eee;
  color: black;
}
.profile svg {
  width: 25px;
  height: 25px;
}
.thumbnail {
  position: absolute;
  bottom: 50px;
  z-index: 11;
  display: flex;
  gap: 10px;
  width: 100%;
  height: 350px;
  padding: 0 50px;
  box-sizing: border-box;
  overflow: auto;
  justify-content: center;
}
.thumbnail::-webkit-scrollbar {
  width: 0;
}
.thumbnail .item {
  width: 200px;
  height: 300px;
  filter: brightness(0.5);
  transition: 0.5s;
  flex-shrink: 0;
}
.thumbnail .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.thumbnail .item.active {
  filter: brightness(1.5);
}
.thumbnail .item .content {
  color: aqua;
  margin-top: 7px;
  inset: auto 10px 10px 10px;
  display: flex;
  justify-content: center;
  font-size: 18px;
}

/* media */
@media screen and (max-width: 678px) {
  .thumbnail {
    justify-content: start;
  }
  .slider .list .item .content h2 {
    font-size: 47px;
  }
  .arrows {
    top: 10%;
  }
  #flex_lab_info {
    display: none;
  }
  .col {
    min-width: 70%;
    padding-bottom: 10px;
  }
  #text {
    width: 100%;
  }
}
@media (min-width: 679px) and (max-width: 1065px) {
  .thumbnail {
    justify-content: start;
  }
  .slider .list .item .content h2 {
    font-size: 65px;
  }
  .arrows {
    top: 10%;
  }
  #flex_lab_info {
    display: none;
  }
  .col {
    min-width: 40%;
    padding-bottom: 10px;
  }
}
@media (min-width: 576px) {
  #modal-matrix {
    max-width: 1050px !important;
  }
  #modal-transpose {
    max-width: 1050px !important;
  }
  #modal-multiplication {
    max-width: 1050px !important;
  }
}

.footer {
  background-color: #000;
  padding-top: 60px;
}
.container {
  padding-top: 70px;
}
.block {
  background-color: #000;
}
/* output php */
#volume_output {
  padding-top: 15px;
  padding-bottom: 5px;
  font-size: 18px;
}
#quadratic_roots_title {
  padding-top: 5px;
  padding-bottom: 10px;
  font-size: 18px;
}
#no_real_roots {
  padding-top: 5px;
  padding-bottom: 10px;
  font-size: 18px;
}
#factorial_result {
  padding-top: 5px;
  padding-bottom: 10px;
  font-size: 18px;
}
#expression_result {
  padding-top: 5px;
  padding-bottom: 10px;
  font-size: 18px;
}
#season_output {
  padding-top: 5px;
  padding-bottom: 10px;
  font-size: 18px;
}
#max_number_output {
  padding-top: 5px;
  padding-bottom: 10px;
  font-size: 18px;
}
#swapped_number_output {
  padding-top: 5px;
  padding-bottom: 10px;
  font-size: 18px;
}
#result {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 18px;
}
#sum_matrix_result {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 18px;
}
#sum_product_result {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 18px;
}
#multiplication_result {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 18px;
}
#transpose_result {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 18px;
}
#symbol_count_result {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 18px;
}
#word_count_result {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 18px;
}
#reverse_string_result {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 18px;
}
#encrypt_original {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 18px;
}
#encrypt_result {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 18px;
}
#decrypt_result {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 18px;
}

/* modal */
#flex_lab {
  width: 33.33333333%;
}
.img {
  width: 100%;
  height: 410px;
}
#flex_lab_info {
  background-color: #000;
}
.caption {
  position: absolute;
  top: 80%;
  left: 50%;
  font-weight: 500;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.2);
  padding: 10px;
  border-radius: 5px;
  font-size: 18px;
  color: aqua;
}
.modal-content {
  background-color: #09090a !important;
  color: white;
}
#modal-task {
  margin-bottom: 15px;
}
/* modal-profile */
#modal-profile {
  position: absolute;
  top: 50px;
  right: 30px;
  width: 200px;
  height: auto;
  border-radius: 5px;
  background-color: white;
}
#content-profile {
  background-color: white !important;
}
.modal-title-profile {
  color: #000;
  margin-left: 20px;
  font-size: 18px;
}
.btn-settings {
  background-color: white;
  border: none;
}
.btn-settings:hover {
  background-color: #eee;
  height: auto;
  border-radius: 3px;
}
.btn-logout {
  background-color: white;
  border: none;
  color: red;
}
.btn-logout:hover {
  background-color: #eee;
  height: auto;
  border-radius: 3px;
}
.modal-header-profile {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: left;
  padding: 6px 12px;
}
.modal-body-profile {
  border-top: 1px solid rgb(217, 217, 217);
  position: relative;
  flex: 1 1 auto;
  padding: 10px;
}
/* Login */
.bg-custom {
  background-color: rgba(0, 0, 0, 0.7);
}
.form-outline input:focus::placeholder {
  transform: translateY(-65%);
  transition: transform 0.3s ease;
  opacity: 0.6;
  font-size: 16px;
}

/* Style for modal */
#profile-wrapper {
  top: 0;
  right: 0;
  bottom: 0;
  width: 756px;
  position: absolute;
  z-index: 1000;
  max-width: 100vw;
  transition: all 0.3s;
}
.header-profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 16px;
}
.header-close {
  border: none;
  background-color: white;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  padding-inline-start: 0;
  padding-inline-end: 0;
}
@media (min-width: 576px) {
  #profile-wrapper.modal-dialog {
      margin: 0 !important;
  }
}